:root {
  --the-green: #64ffda;
  --font-p: "Cal Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #020c1b;
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--font-p);
  overflow-x: hidden;
}
body header {
  box-sizing: border-box;
  display: flex;
  height: 6.25rem;
  width: 100vw;
  justify-content: space-between;
  padding: 1rem;
  grid-column: 1/span 3;
  align-items: center;
  position: fixed;
  background-color: #020c1b;
}
body header .logo img {
  margin-top: 0.5rem;
  width: 4rem;
  box-sizing: border-box;
  cursor: pointer;
}
body header .guide {
  display: flex;
  gap: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  align-items: center;
  padding: 1rem;
}
body header .guide a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
body header .guide a:hover {
  text-decoration: underline;
}
body header .guide .CV a {
  border: solid var(--the-green);
  display: block;
  padding: 0.7rem 2rem 0.7rem 2rem;
  border-radius: 1rem;
  color: var(--the-green);
  margin-left: 2rem;
}
body header .guide .CV a:hover {
  text-decoration: none;
}
body .socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
}
body .socials li::before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2rem;
  content: "";
  display: block;
}
body .socials .linkedin::before {
  background-image: url("/assets/img/linkedin.png");
}
body .socials .github::before {
  background-image: url("/assets/img/github.png");
}
body #email {
  text-decoration: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
}
body #email p {
  color: var(--the-green);
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 2rem;
}
body #content {
  width: 1000px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
}
body #content .presentation {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 100px;
  margin-top: 15rem;
  margin-left: 5rem;
}
body #content .presentation h1 {
  width: 80%;
  font-size: 4rem;
  color: rgb(255, 255, 255);
}
body #content .presentation p {
  font-weight: 400;
  font-size: 1.5rem;
  width: 40%;
}
body #content .presentation p:first-of-type {
  color: var(--the-green);
  font-weight: 700;
  font-size: 1rem;
}
body #content .about {
  padding: 100px 0 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
}
body #content .about h2 {
  grid-column: 1/span 2;
  grid-column-start: 1;
  grid-row-start: 1;
  font-size: 2.5rem;
}
body #content .about p {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}
body #content .about ul {
  grid-column-start: 1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  font-size: 1.2rem;
  gap: 1rem;
  letter-spacing: 0.2rem;
}
body #content .about ul li::before {
  content: "* ";
}
body #content .about #perfil {
  background-color: var(--the-green);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-column-start: 2;
  grid-row: 1/span 4;
  box-sizing: border-box;
}
body #content .about #perfil img {
  width: 450px;
}
body #content .work {
  padding: 100px 0 100px 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  justify-content: space-around;
  gap: 2rem;
}
body #content .work h2 {
  font-size: 2rem;
  grid-column: 1/span 2;
  grid-column-start: 1;
  grid-row-start: 1;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2rem;
}
body #content .work #places {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column-start: 1;
  grid-row-start: 2;
  width: -moz-fit-content;
  width: fit-content;
}
body #content .work #places li a {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  cursor: pointer;
}
body #content .work #places li a:hover {
  text-decoration: underline;
  color: var(--the-green);
}
body #content .work #content_work {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 500px;
  height: 500px;
}
body #content .work #content_work div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}
body #content .work #content_work div ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body #content .work #content_work div ul li::before {
  content: "> ";
}

.green {
  color: var(--the-green);
}/*# sourceMappingURL=style.css.map */